# Configuracoes do banco de dados
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=project_db

# Credenciais do PayPal Sandbox
PAYPAL_CLIENT_ID=
PAYPAL_CURRENCY=BRL
PAYPAL_SANDBOX_BUYER_EMAIL=
PAYPAL_SANDBOX_BUYER_PASSWORD=
